@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

//rules
$gap: 10px;

//colors
$board-bg-color: #0079fb;
$appboard-bg-color: #0067a3;
$content-bg-color: #ebecf0;
$bg-white: #fff;

//radius
$header-radius: 8px;
$footer-radius: 8px;
$border-radius: 6px;

//height
$header-height: 46px;
$footer-height: 46px;
